{{ define "main" }}

<h1>Home</h1>

<p>
Stephen Ada<br>
<u><a href="mailto:ada_stephen@proton.me">ada_stephen@proton.me</a></u><br>
<br>
IT Support Specialist<br>
Linux Enthusiast<br>
Homelab Builder<br>
</p>

<h2>Capabilities</h2>

<ul>
    <li>Linux systems administration</li>
    <li>systemd service troubleshooting, journal analysis</li>
    <li>Bash automation, cron scheduling</li>
    <li>File ownership and permission management</li>
    <li>Change tracking, documentation versioning w/ Git</li>
    <li>Remote system access via SSH</li>
    <li>TCP/IP, DNS troubleshooting</li>
    <li>Terminal / CLI-based workflows</li>
</ul>

<h2>Certifications</h2>

<ul>
    <li><a href="https://coursera.org/share/cdc801e27427396a829c64ade9dbba05">Google IT Support Professional Certificate</a></li>
</ul>

<h2>Current interests</h2>

<ul>
    <li>Server management</li>
    <li>Self-hosting</li>
    <li>Automation</li>
    <li>Open-source software</li>
</ul>

<h2>Currently working on</h2>

<ul>
    <li><u><a href="https://github.com/stephenjamesada/homelab-infrastructure">Homelab Infrastructure</a></u></li>
    <li><u><a href="https://github.com/stephenjamesada/homelab-notes">Homelab Notes</a></u></li>
</ul>

<h2>Contact</h2>

<ul>
    <li><u><a href="https://github.com/stephenjamesada">GitHub</a></u></li>
    <li><u><a href="https://www.linkedin.com/in/stephen-ada-345a06370/">LinkedIn</a></u></li>
    <li><u><a href="https://x.com/stephenjamesada">X</a></u></li>
    <li><u><a href="https://instagram.com/stephen_j_ada">Instagram</a></u></li>
</ul>

{{ end }}
